/* File created by Remco Wammes on 21/08/2018 */ 
#container{
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(white, midnightblue);
}
#container>h1{
    padding-top: 100px;
    font-size: 20vh;
    color: darkslategrey;
    font-family: 'Raleway', sans-serif;
}
#inputAdd{
    width: 225px;
    height: 50px;
    border-radius: 7px;
}
button{
    height: 30px;
    border-radius: 7px;
}
#submit{
    margin-top: 20px;
    margin-left: 25px;
}
#remove{
    margin-top: 20px;
    margin-left: 20px;
}
#todolist{
    text-align: center;
    text-decoration: none;
    
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    height: 30vh;
    background: black;
}
li, ul{
    margin-left: 20px;
    color: white;
    list-style-type: none;
 
}